<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="service.mapper.ArticleMapper">

    <select id="getArticle" resultType="dto.article.ArticleDTO">
        SELECT
        ID,
        NAME,
        LOCATION,
        CONTENT,
        PERSON,
        FOLDER,
        TITLE,
        DESCRIPTION,
        CREATED,
        MODIFY
        FROM
        ARTICLE
        WHERE
        ISPRIVATE = #{isPrivate, jdbcType=BIT}
        AND
        USERID = #{userId, jdbcType=SMALLINT}
        AND
        ID = #{id, jdbcType=SMALLINT}
    </select>
    <!-- 用户 -->
    <select id="getArticles" resultType="dto.article.ArticleDTO">
        SELECT
        ID,
        NAME,
        LOCATION,
        CONTENT,
        PERSON,
        FOLDER,
        TITLE,
        DESCRIPTION,
        CREATED,
        MODIFY
        FROM
        ARTICLE
        WHERE
        ISPRIVATE = #{isPrivate, jdbcType=BIT}
        AND
        USERID = #{userId, jdbcType=SMALLINT}
        ORDER BY MODIFY DESC
    </select>

    <select id="searchQ" resultType="dto.article.ArticleDTO">
        SELECT
        ID,
        NAME,
        LOCATION,
        CONTENT,
        PERSON,
        FOLDER,
        ISPRIVATE
        FROM
        ARTICLE
        WHERE
        ISPRIVATE = #{isPrivate, jdbcType=BIT}
        AND
        USERID = #{userId, jdbcType=SMALLINT}

        <if test="q != null and q != ''">
        AND NAME LIKE '%${q, jdbcType=VARCHAR}%'
        OR
        LOCATION LIKE '%${q, jdbcType=VARCHAR}%'
        OR
        PERSON LIKE '%${q, jdbcType=VARCHAR}%'
        OR
        CONTENT LIKE '%${q, jdbcType=VARCHAR}%'
        OR
        FOLDER LIKE '%${q, jdbcType=VARCHAR}%'
        </if>
        ORDER BY MODIFY DESC
    </select>

    <select id="getSimpleArticles" resultType="dto.article.ArticleDTO">
        SELECT
        ID,
        NAME,
        LOCATION,
        PERSON,
        FOLDER,
        CREATED,
        MODIFY
        FROM
        ARTICLE
        WHERE
        ISPRIVATE = #{isPrivate}
        AND
        USERID = #{userId, jdbcType=SMALLINT}
        ORDER BY MODIFY DESC
    </select>

    <select id="getSimpleArticlesByName" resultType="dto.article.ArticleDTO">
        SELECT
        ID,
        NAME,
        LOCATION,
        PERSON,
        FOLDER,
        DESCRIPTION,
        TITLE,
        CREATED,
        MODIFY
        FROM
        ARTICLE
        WHERE
        ISPRIVATE = #{isPrivate, jdbcType=BIT}
        AND
        USERID = #{userId, jdbcType=SMALLINT}
        <if test="folder != null and folder != ''">
        AND FOLDER = #{folder, jdbcType=VARCHAR}
        </if>
        <!--<if test="folder == ''">-->
        <!--AND FOLDER IS NULL-->
        <!--</if>-->
        <if test="location != null and location != ''">
        AND LOCATION = #{location, jdbcType=VARCHAR}
        </if>
        <!--<if test="location == ''">-->
            <!--AND LOCATION IS NULL-->
        <!--</if>-->
        <if test="person != null and person != ''">
        AND PERSON = #{person, jdbcType=VARCHAR}
        </if>
        <!--<if test="person == ''">-->
        <!--AND PERSON IS NULL-->
        <!--</if>-->
        ORDER BY MODIFY DESC
    </select>

    <delete id="deleteById">
        DELETE FROM ARTICLE WHERE USERID = #{userId, jdbcType=SMALLINT} AND ID = #{id, jdbcType=SMALLINT}
    </delete>

    <update id="editArticle" parameterType="dto.article.ArticleDTO">
      UPDATE
      ARTICLE
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name != ''">NAME=#{name},</if>
            <if test="location != null and location != ''">LOCATION=#{location},</if>
            <if test="content != null and content != ''">CONTENT=#{content},</if>
            <if test="person != null and person != ''">PERSON=#{person},</if>
            <if test="folder != null and folder != ''">FOLDER=#{folder},</if>
            <if test="isPrivate != null and isPrivate != ''">ISPRIVATE=#{isPrivate},</if>
            <if test="userId != null and userId != ''">USERID=#{userId},</if>
            <if test="description != null and description != ''">DESCRIPTION=#{description},</if>
            <if test="title != null and title != ''">TITLE=#{title},</if>
            MODIFY = now()
        </trim>
        WHERE ID = #{id}
    </update>

    <insert id="saveArticle" parameterType="dto.article.ArticleDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        ARTICLE
        (name,
        location,
        content,
        person,
        folder,
        isPrivate,
        userId,
        description,
        title,
        created,
        modify)
        VALUES
        (#{name},
        #{location},
        #{content},
        #{person},
        #{folder},
        #{isPrivate},
        #{userId},
        #{description},
        #{title},
        now(),
        now()
        )
    </insert>

    <select id="getArticlesForHome" resultType="dto.article.ArticleSummaryDTO" parameterType="int">
        SELECT ONE.*,c.comments FROM
        (SELECT
        a.id AS id,
        a.name AS name,
        a.description AS description,
        a.userId AS userId,
        a.modify AS modify,
        a.title as title,
        u.nick_Name AS nickName,
        info.photoId AS photoId
        FROM
        article a,
        t_user u,
        u_info info
        WHERE
        a.userId = u.id
        AND
        u.id = info.userId
        ) ONE LEFT JOIN
        (SELECT articleId, COUNT(*) comments FROM a_comments GROUP BY articleId) c ON
        ONE.id = c.articleId where 1=1
        <if test="userId != 0">
            AND
            ONE.userId = #{userId}
        </if>
        <if test="id != 0">
            AND
            ONE.id = #{id}
        </if>
        order by ONE.modify DESC
    </select>
</mapper>