<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="service.mapper.DataBaseMapper">
    <select id="getInfoFromDataBase" resultType="dto.DataBaseDTO">
        <![CDATA[SELECT
        distinct ${column} as dictName
      FROM
        ${table}
        ]]>
      WHERE
      <if test="query != null and query != ''">
      ${column} = #{query, jdbcType=VARCHAR}
      AND
      </if>
      USERID = ${id}
    </select>

</mapper>