<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="service.mapper.PhotoMapper">
    <insert id="insert" parameterType="dto.photo.PhotoDTO" useGeneratedKeys="true" keyProperty="id">
      insert INTO Photo
      (name,userId,path,folder,created,size,type)
      VALUES
      (#{name},#{userId},#{path},DEFAULT,now(),#{size},#{type})
    </insert>

    <select id="getPhotos" resultType="dto.photo.PhotoDTO">
        select
        *
        from PHOTO
        WHERE userId = #{userId}
        and isprivate  = #{isPrivate}
    </select>

    <delete id="delete">
        DELETE from photo where id = #{id} AND userId = #{userId}
    </delete>

    <select id="getQiNiuKey" resultType="string">
        SELECT
        path
        FROM
        PHOTO
        WHERE
        id = #{id}
        <if test="userId != 0">
            AND
            userId = #{userId}
        </if>
    </select>

    <select id="kindEditGet" resultType="dto.photo.PhotoDTO">
      SELECT  * FROM PHOTO
      WHERE
      userId = #{userId}
      <if test="path != null and path != ''">
          AND folder = #{path}
      </if>
      <if test="order != null and order != ''">
          ORDER BY ${order} DESC
      </if>
    </select>

    <select id="getIdByPath" resultType="int">
        SELECT
        ID
        FROM
        PHOTO
        WHERE
        userid = #{userId}
        AND
        path = #{path}
    </select>
</mapper>