<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="service.mapper.UserMapper">

    <!--<resultMap id="categoryRM" type="com.ceair.ceb.system.dto.AuthCategoryDTO">-->
        <!--<result property="categoryId" column="MODULE_ID"/>-->
        <!--<result property="categoryName" column="MODULE_NAME"/>-->
        <!--<result property="categoryIcon" column="MODULE_ICON"/>-->
        <!--<collection property="menus" resultMap="menuRM"/>-->
    <!--</resultMap>-->

    <!-- 用户 -->
    <select id="getUser" resultType="entity.system.User">
        SELECT
        USER.ID as id,
        USER.NICK_NAME as nickName,
        USER.ACCOUNT as account,
        USER.PASSWORD as password,
        USER.PHONE as phone,
        USER.EMAIL as email,
        USER.ROLE_ID as roleId
        FROM
        T_USER USER
        WHERE
        USER.ACCOUNT = #{account, jdbcType=VARCHAR}
        AND
        USER.PASSWORD = #{password, jdbcType=VARCHAR}
    </select>

    <select id="getUserById" resultType="entity.system.User">
        SELECT
        USER.ID as id,
        USER.NICK_NAME as nickName,
        USER.ACCOUNT as account,
        USER.PASSWORD as password,
        USER.PHONE as phone,
        USER.EMAIL as email,
        USER.ROLE_ID as roleId
        FROM
        T_USER USER
        WHERE
        USER.ID = #{userId}
    </select>

    <select id="countUser" resultType="int">
        SELECT
        COUNT(*)
        FROM
        T_USER
        WHERE
        ACCOUNT = #{account, jdbcType=VARCHAR}
    </select>

    <select id="getUserInfo" resultType="dto.system.UserInfoSummaryDTO">
        SELECT
        USER.ID as userId,
        USER.NICK_NAME as nickName,
        USER.ACCOUNT as account,
        <!-- USER.PASSWORD as password, -->
        USER.EMAIL AS email,
        INFO.photoId as photoId
        from T_USER USER,U_INFO INFO WHERE
        USER.id = INFO.userId
        <if test="userId != 0">
            AND USER.id = #{userId}
        </if>
    </select>

    <insert id="register" parameterType="dto.system.RegisterDTO">
        INSERT INTO T_USER
        (NICK_NAME, ACCOUNT, PASSWORD, EMAIL, ROLE_ID)
        VALUES
        (#{rNickname}, #{rAccount}, #{rPassword}, #{rEmail}, #{roleId})
    </insert>

    <update id="setting" parameterType="dto.system.UserInfoSummaryDTO">
        UPDATE
        T_USER
        <trim prefix="set" suffixOverrides=",">
            <if test="nickName != null and nickName != ''">NICK_NAME=#{nickName},</if>
            <if test="account != null and account != ''">ACCOUNT=#{account},</if>
            <if test="password != null and password != ''">PASSWORD=#{password},</if>
            <if test="email != null and email != ''">EMAIL=#{email},</if>
            <if test="roleId != null and roleId != ''">ROLE_ID=#{roleId},</if>
        </trim>
        WHERE ID = #{userId}
    </update>

    <update id="changePhoto">
        UPDATE
        U_INFO
        SET
        PHOTOID = #{photoId}
        WHERE
        USERID = #{userId}
    </update>
</mapper>